<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664434794092-4tmgleb6ad0q0rl14b7g2thjv68easrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664434794092-4tmgleb6ad0q0rl14b7g2thjv68easrr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>664434794092-e6q47oglctjdcmmc7g8pe94sp4ctfu0q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBn2rxWBY9fLpWuj6jwZS2LktXbtghiZz4</string>
	<key>GCM_SENDER_ID</key>
	<string>664434794092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onedollarxclub.casual.dating.date.single.flirt.app</string>
	<key>PROJECT_ID</key>
	<string>matchapp-devstaging-new</string>
	<key>STORAGE_BUCKET</key>
	<string>matchapp-devstaging-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664434794092:ios:52e204d560aaa029d7c249</string>
	<key>DATABASE_URL</key>
	<string>https://matchapp-devstaging-new.firebaseio.com</string>
</dict>
</plist>
