<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>OneDollarXClub</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.666512145768-dr3aicjp2sqbhdsv31b6rjq6958lsnmo</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>To take pictures from the app, it needs access to your camera. Do you want to allow this?</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>To display how far other users are away from you, the app needs access to your location. Do you want to allow this?</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>To display how far other users are away from you, the app needs access to your location. Do you want to allow this?</string>
	<key>NSLocationUsageDescription</key>
	<string>To display how far other users are away from you, the app needs access to your location. Do you want to allow this?</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To display how far other users are away from you, the app needs access to your location. Do you want to allow this?</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>To record audio, the app requires access to your microphone. Do you want to allow this?</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>To upload pictures, the app needs access to your photo library. Do you want to allow this?</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To upload pictures, the app needs access to your photo library. Do you want to allow this?</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>We use your data to evaluate and improve the app, to develop new features and services, and to display and evaluate relevant offers and ads.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Spartan-Black.ttf</string>
		<string>Spartan-Bold.ttf</string>
		<string>Spartan-ExtraBold.ttf</string>
		<string>Spartan-ExtraLight.ttf</string>
		<string>Spartan-Light.ttf</string>
		<string>Spartan-Medium.ttf</string>
		<string>Spartan-Regular.ttf</string>
		<string>Spartan-SemiBold.ttf</string>
		<string>Spartan-Thin.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
